<% @tags_data.each do |tag_name, count| %>
    <% font_size = count * 3 %>

    <span style="font-size:<%=font_size > 10 ? 10 : font_size %>vh">
        <%= link_to tag_name, contents_path(tag: [tag_name]), class: "link-dark" %>
    </span>
<% end %>